.ui_treemap {
    position: relative;
    margin: 0 -1px -1px 0;

    .treemap-node {
        border-radius: 0;
        box-sizing: border-box;
        @include transition();

        > *:not(.overlay) {
            pointer-events: none;
        }

        .treemap-item {
            position: absolute !important;
            left: 10px !important;
            bottom: 10px !important;
            width: calc(100% - 20px) !important;
        }

        .infos {
            display: block;
            color: #ffffff;
            text-align: left;

            .title {
                display: block;
                padding: 0 0 2px 0;
                font-size: 14px;
                line-height: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .dv {
                display: block;
                padding: 8px 0 0;
                font-size: 20px;
                line-height: 1;
            }

            .per {
                display: block;
                padding: 5px 0 0 0;
                line-height: 1;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            background: #000000;
            cursor: default;
            @include opacity(0);
            @include transition();

            &:after {
                content: none;
                position: absolute;
                top: 8px;
                right: 8px;
                font-family: 'icomoon';
                color: #ffffff;
                font-size: 14px;
            }
        }

        &.full.hide {
            .infos {
                display: none;
            }

            .overlay {
                &:after {
                    content: none;
                }
            }
        }
        &.hide {
            .infos {
                .title {
                    padding: 0;
                    font-size: 12px;
                }
                .dv {
                    display: none;
                }
            }
        }

        &:hover {
            .overlay {
                @include opacity(0.4);
            }
        }
        &.is-active {
            .overlay {
                @include opacity(0.6);

                &:after {
                    content: '\e053';
                }
            }
        }
    }

    .treemap_bubble_wrap {
        display: block;
        float: left;
        height: 0;
        zoom: 1;
        pointer-events: none;

        .ui_bubble_box {
            position: absolute;
            color: #ffffff;
            z-index: 3;

            &:before {
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 100%;
                height: 100%;
                border: 2px solid #ffffff;
                @include shadow(0, 3px, 6px, 0.2, 0, 0, 0);
                z-index: 1;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -10px;
                left: 50%;
                margin: 0 0 0 -9px;
                @include triangle('bottom', #ffffff, 18px, 12px);
                z-index: 1;
            }

            .arrow {
                position: absolute;
                bottom: -8px;
                left: 50%;
                margin: 0 0 0 -7px;
                @include triangle('bottom', #666666, 14px, 10px);
                text-align: left;
                text-indent: -9999px;
                z-index: 2;
            }

            &.is-active {
                margin-top: 0;
                @include opacity(1);
            }

            .wrap {
                position: relative;
                padding: 15px 30px;
                background: #666666;
                z-index: 2;

                .infos {
                    display: block;
                    text-align: center;

                    .title {
                        display: block;
                        font-size: 1.333em;
                        font-weight: bold;
                        line-height: 1;
                        white-space: nowrap;
                    }

                    .dv {
                        display: block;
                        padding: 5px 0 2px;
                        font-size: 2.167em;
                        line-height: 1;
                        white-space: nowrap;
                    }

                    .ui_fluc {
                        @include inlineBlock();
                        padding: 2px 6px;
                        margin: 2px 0 5px;
                        border-radius: 100px;
                        background: #ffffff;
                    }

                    .per {
                        display: block;
                        padding: 0;
                        font-size: 1.167em;
                        line-height: 1;
                        white-space: nowrap;
                    }
                }
            }

            &.is-black {
                color: #000000;
            }
        }
    }

    &.is-click {
        .overlay {
            cursor: pointer;
        }
    }
}
